*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #2c3e50;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	overflow:hidden;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

.preloader_window{
width: 100%;
background-color:#fff;
position:fixed;
display:block;
z-index:999999;
}
.preloader_img{
display: inline-block;
position:relative;
left:45%;
top: 45%;	
}


/* Header */
.{
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	max-width: 900px;
}

.h1 {
	margin: 0;
	font-size: 4.5em;
	line-height: 1;
	font-weight: 200;
}

.h1 span {
	display: block;
	padding: 1em 0 1.5em;
	font-size: 36%;
	color: #95a5a6;
	line-height: 1.4;
}
.nicescroll-rails{
z-index:1 !important;	
}

.raj_descp_heading{
font-size:35px;
display: block;	
color:#ffcc00;
}
.rajkumar_header{
width: 100%;
height: 500px;	
}
.rajkumar_header h1{
font-size: 8em;
text-align: center;
position: relative;
top: 30%;	
}
.logo_holder{
position: absolute;
margin: 0;
padding: 0;
text-align: center;
top: 32%;
left: 50%;
cursor:pointer;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);	
}
.logo{
width: 130px;
cursor:pointer;	
}
.logo_holder:hover .circular{
border:1px solid #fff;
border-radius:100%;
position: absolute;
top: 9%;
left: 14%;
width: 90px;
height: 90px;
-webkit-animation: circular-wave 1.8s linear infinite;
     -moz-animation: circular-wave 1.8s linear infinite;
      -ms-animation: circular-wave 1.8s linear infinite;
       -o-animation: circular-wave 1.8s linear infinite;
          animation: circular-wave 1.8s linear infinite;	
}
.icon-list a span{
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	font-weight:400 !important;
}
h1.What_i_do{
font-weight:400;
text-align:center;	
font-size: 5em;
margin: 5px 0;
}
#What_i_do{
padding: 40px 0;	
}
.article_list article{
width:100%;
float:left;
text-align:center;
padding:20px 76px;	
}
.article_list{
display: inline-block;	
}
.article_list article h2{
font-weight:400;
font-size: 30px;
margin-top: 20px;
margin-bottom: 10px;	
}
.article_list article p{
font-size: 22px;	
}
.development_icon, .design_icon, .open_source_icon, .World_icon{
display: inline-block;
}
.development_icon{
background:url(../img/developoment_icon.png) no-repeat;	
background-size: contain;
width: 65px;
height: 65px;
}
.design_icon{
background:url(../img/design_icon.png) no-repeat;	
background-size: contain;
width: 65px;
height: 65px;
}
.open_source_icon{
background:url(../img/open_source_icon.png) no-repeat;	
background-size: contain;
width: 40px;
height: 65px;
}
.World_icon{
background:url(../img/world_icon.png) no-repeat;	
background-size: contain;
width: 65px;
height: 65px;
}
.What_i_done{
padding: 0;	
}
.What_i_done_header, .pug_img_holder{
background: #7ee9b5;
text-align: center;	
}
.pug_img_carry{
display: inline-block;
background:url(../img/pug_1.png) no-repeat;
background-size:contain;
width: 400px;
height: 290px;
margin-top:20px;
cursor:pointer;
	-webkit-animation: pug_anim 2s cubic-bezier(1,-0.38, 0, 1.31) infinite;
     -moz-animation: pug_anim 2s cubic-bezier(1,-0.38, 0, 1.31) infinite;
      -ms-animation: pug_anim 2s cubic-bezier(1,-0.38, 0, 1.31) infinite;
       -o-animation: pug_anim 2s cubic-bezier(1,-0.38, 0, 1.31) infinite;
          animation: pug_anim 2s cubic-bezier(1,-0.38, 0, 1.31) infinite;
            animation-direction: alternate;
}
.What_i_done_header h1{
text-align: center;
font-size: 4em;
font-weight: 400;
margin: 0;
padding: 3px 5px 20px 5px;	
}
.project{
width: 100%;
display: inline-block;	
}
.project_odd{
background: #f6f7f5;	
}
.project_even{
background: #ffffff;	
}
.project_info{
width: 100%;
padding: 20px;	
text-align: left;
float: left;
padding-left: 10px;
padding-top: 45px;
}
.project_img{
width: 100%;	
padding: 20px;
text-align: center;
float: left;
}
.project_img img{
width: 100%;
padding:20px;	
}
.project_info h2{
font-size: 32px;
text-transform:uppercase;
margin:5px 0;	
}
.project_info h3{
font-size: 2.5em;
font-weight: 200;
margin:5px 0;	
}
.project_info p{
font-size: 20px;	
color: #abb0b5;
}
.contact{
padding: 0;
width: 100%;
background: #FF9906;	
}
.my_image, .contact_form{
text-align: center;
width: 100%;
padding: 50px 10px;
float:left;
}
.my_image{
position: relative;	
}
.my_image{
padding-top: 80px;
}
.my_image_holder{
border-radius:100%;
background: #43cb89;
overflow:hidden;
width: 350px;
height: 350px;
margin-left: auto;
margin-right: auto;	
-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); /* WebKit */
-moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); /* Firefox */
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); /* Standard */
}
.my_image_holder img{
width: 100%;
position: relative;
bottom: -30px;
left: -35px;
}
.message_form{
padding: 10px 64px;	
}
.message_form input{
border-width:0px 0px 2px 0px;
border-color:#3A0000;
border-style:solid;
width: 100%;
background:none;
margin-top: 20px;
outline:0;
padding: 5px;
color: #AE0001;
font-size: 18px;
}
.message_form textarea{
border-width:2px;
border-color:#3A0000;
border-style:solid;
width: 100%;
background:none;
margin-top: 30px;
outline:0;
padding:5px;
color: #AE0001;
font-size: 18px;
}
.contact_field{
display: inline-block;
width: 100%;
padding-bottom: 35px;	
}
.message_form button{
border:0;
background: none;
padding:10px 20px;
margin-top: 10px;
color: #3A0000;	
font-size: 20px;
border-radius:3px;
-webkit-transition: background 1s ease;
-moz-transition: background 1s ease; 
-o-transition: background 1s ease;
transition: background 1s ease; 
float: left;
}
.message_form button:hover{
background: #3a0000;
color: #ff9906;
-webkit-transition: background 0.5s ease;
-moz-transition: background 0.5s ease; 
-o-transition: background 0.5s ease;
transition: background 0.5s ease;	
}
.message_form button span{
display: inline-block;
}
.subber{
clear: both;	
}
.contact_form h1{
font-weight: 400;
font-size: 7em;
margin:0;
color: #AE0001;	
}
::-webkit-input-placeholder {
   color: #820000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #820000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #820000;  
}

:-ms-input-placeholder {  
   color: #820000;  
}
.follow{
font-size: 9em;
display: inline-block;
font-weight:400;
margin-bottom: 5px;
float:left;
margin-top:30px;
    color: #AE0001;	
}
.follow i{
display: inline-block;
background: url(../img/pug_icon.png) no-repeat;
background-size:contain;
width: 58px;
height: 40px;	
}
.social_network{
display: inline-block;
margin-top: 30px;
margin-bottom: 0px;	
}
.social_network li{
list-style: none;
float: left;
padding:10px 20px;	
}
.social_network li a{
font-size: 7em;
color: #AE0001;;
}
.follow_sec{
clear: both;
display: inline-block;	
}
.follow_sec p{
font-size: 16px;	
}
a > i.fa-behance:hover{
background: #0099ff; /* Old browsers */
background: -moz-linear-gradient(top, #0099ff 0%, #0099ff 23%, #207cca 100%, #2989d8 100%, #0099ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099ff), color-stop(23%,#0099ff), color-stop(100%,#207cca), color-stop(100%,#2989d8), color-stop(100%,#0099ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0099ff 0%,#0099ff 23%,#207cca 100%,#2989d8 100%,#0099ff 100%); 
background: -o-linear-gradient(top, #0099ff 0%,#0099ff 23%,#207cca 100%,#2989d8 100%,#0099ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0099ff 0%,#0099ff 23%,#207cca 100%,#2989d8 100%,#0099ff 100%); /* IE10+ */
background: linear-gradient(to bottom, #0099ff 0%,#0099ff 23%,#207cca 100%,#2989d8 100%,#0099ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;	
}
a > i.fa-behance:hover{
-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,153,255,1) 0%,rgba(0,153,255,1) 23%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(0,153,255,1) 100%);
-webkit-mask-image: linear-gradient(to bottom, rgba(0,153,255,1) 0%,rgba(0,153,255,1) 23%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(0,153,255,1) 100%);
-webkit-mask-image: -moz-linear-gradient(top, rgba(0,153,255,1) 0%, rgba(0,153,255,1) 23%, rgba(32,124,202,1) 100%, rgba(41,137,216,1) 100%, rgba(0,153,255,1) 100%);
-webkit-mask-image: -o-linear-gradient(top, rgba(0,153,255,1) 0%,rgba(0,153,255,1) 23%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(0,153,255,1) 100%);
-webkit-mask-image: -ms-linear-gradient(top, rgba(0,153,255,1) 0%,rgba(0,153,255,1) 23%,rgba(32,124,202,1) 100%,rgba(41,137,216,1) 100%,rgba(0,153,255,1) 100%);
}
a > i.fa-facebook:hover{
color:#3c599d;	
}
a > i.fa-google-plus:hover{
color:#cc3433;	
}
a > i.fa-linkedin:hover{
color:#0177b5;	
}
.project_link a, .project_link a:hover{
text-align: center;
text-decoration: none;
}
.project_link{
overflow:hidden;
border-radius:3px;
padding:10px 20px;	
display: inline-block;
cursor:pointer;	
-webkit-transition: background 1s ease; /* Firefox */
-moz-transition: background 1s ease; /* WebKit */
-o-transition: background 1s ease; /* Opera */
transition: background 1s ease; /* Standard */
}
.project_link a{
padding:10px 20px;	
font-size: 16px;
}
.project_link_odd{
border:1px solid #7ee9b5;
color:#7ee9b5;	
}
.project_link_even{
border: 1px solid #e74c3c;
coor:#e74c3c;
}
.project_link_odd a{
color:#7ee9b5;	
}
.project_link_even a{
color:#e74c3c;
}
.project_link_odd a:hover, .project_link_odd:hover a{
color:#f5f6f7;
}
.project_link_even a:hover, .project_link_even:hover a{
color:#fff;	
}
.project_link_odd:hover{
background: #7ee9b5;
}
.project_link_even:hover{
background: #e74c3c;	
}
#theam_music{
display: none;	
}
.show-menu .icon-list a{
font-size: 20px;	
}
.close-button{
font-size: 1.3em;	
}
.raj_bg{
width:100%;
background:url(../img/rajkumar-bg.jpg) no-repeat;
background-size:cover;	
background-color: #FF9906;
}
footer{
background:#3A0000;	
}








/*media query*/
@media only screen and (max-width: 800px){
.logo_holder{
top: 27%;	
}
.landing_page_bg .main-title{
width: 100%;	
}
.project_info{
padding-left: 25px;	
}
.follow{
float: none;	
}
.social_network{
padding-left: 0px;
margin-top: 5px;	
}
.my_image, .contact_form{
padding: 20px 10px;	
}
.contact_field{
padding-top: 40px;	
}
.raj_bg{
background:url(../img/rajkumar-bg-opct.png) no-repeat;	
}

@media only screen and (max-width: 768px){
.logo_holder {
top: 38%;
}
.raj_descp_heading{
font-size: 30px;	
}
.project_info{
text-align: center;
padding: 20px 60px !important;	
}
.message_form button{
	float: none;
}
}

@media only screen and (max-width: 600px){
.logo_holder {
top: 35%;
}
.landing_page_bg .main-title{
font-size: 5.2em;	
}
.raj_descp_heading {
font-size: 27px;
}
.follow {
font-size: 8em;
}
.social_network li a {
font-size: 6em;
}

}

@media only screen and (max-width: 568px){
.landing_page_bg .main-title {
font-size: 4.2em;
}
.raj_descp_heading {
font-size: 22px;
}
.raj_descp_heading {
font-size: 22px;
}
.main-title{
top: 67%;	
}

}	



@media only screen and (max-width: 320px){
.main-title{
top: 57%;		
}
h1.What_i_do{
font-size: 3.5em;	
}
.article_list article{
padding: 20px 30px !important;	
}
.article_list article p {
font-size: 20px;
}
.pug_img_carry{
background-size: contain;
	width: 260px;
	height: 190px;	
}
.What_i_done_header h1{
font-size: 3.5em;	
}
.project_info {
text-align: center;
padding: 20px 15px !important;
}
.project_img img{
padding: 0;	
}
.my_image_holder{
width: 260px;
height: 260px;	
}
.contact_form h1{
font-size: 4em;	
}
.message_form {
padding: 10px 0px;
}
.follow {
font-size: 5em;
}
.social_network li{
padding: 10px 15px;	
}
.social_network li a {
font-size: 4em;
}
.pug_img_carry{
display: inline-block;
    background: url(../img/pug_1.png) no-repeat;
    background-size: contain;
    width: 266px;
    height: 200px;
	animation: none;
	webkit-animation:none;
}
}


@-webkit-keyframes pug_anim {
	from{
	background: url(../img/pug_2.png) no-repeat;
	background-size: contain;
	width: 260px;
	height: 190px;	
	}
	to{
	background: url(../img/pug_3.png) no-repeat;
	background-size: contain;
	width: 260px;
	height: 190px;	
	}
}
@keyframes pug_anim {
	from{
	background: url(../img/pug_2.png) no-repeat;
	background-size: contain;
	width: 260px;
	height: 190px;	
	}
	to{
	background: url(../img/pug_2.png) no-repeat;
	background-size: contain;
	width: 260px;
	height: 190px;	
	}
}


}